################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/UnmanagedCollection/v15
/UnmanagedCollection/bin
/UnmanagedCollection/obj
